/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* fixed bottom footer */
html,
body { height: 100% }

#wrapper {
  min-height: 100%;
  padding-bottom: -60px;
}
#wrapper:after{
  content: ' ';
  display: block;
  height: 80px; /* = 60px(h.footer) + 20px(margin-top) */
  clear: both
}
#footer {
  height: 60px;
  margin-top: -60px;
  width: 100%;
  background-color: #F5F5F5;
}
#footer .text-muted {
    margin: 20px 0px;
}

/***/
.page-header {
  border-color: #444;
}
#wrapper > .content {
    padding: 50px 15px 0;
}
.text-muted {
    color: #777;
}
.navbar-default {
  background-color: rgba(248, 248, 248, 0.97);
}
.bg-info,
.bg-danger {
  padding: 15px;
  margin: 10px 0;
}

/* Errors */
.field_with_errors label {
  color: rgb(233, 102, 102) !important;
}
.field_with_errors input {
  border-color: rgb(233, 102, 102) !important;
  outline: 0px none;
}
.field_with_errors input:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(233, 102, 102, 0.6) !important;
}
.fired {
  background-color: rgb(249, 215, 215);
}