// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.form_group label {
  width: 80px;
}*/
#customer_phone_prefix {
  width: 50px;
  text-align: center;
}
#customer_phone_code {
  width: 60px;
  text-align: center;
}
#customer_phone {
  width: 230px;
}
#customer_comment {
  max-width: 358px;
}